:root {
  --back-first-color: #ffffff;
  --back-second-color: #f7f7f7;
  --hdr-menu-color: #ffffff;
  --h-color: #303030;
  --hero-h-color: #ffffff;
  --text-color: #555555;
  --services-color: #9da4bd;
  --extreme-color: #ff6c00;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
}
ul,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* ---------------FOOTER----------- */

.hdr {
  background-color: black;
}

.hdr-container {
  display: flex;
  align-items: center;
}
.logo {
}
.hdr-nav {
  display: flex;
  align-items: center;
}
.hdr-list {
  display: flex;
}

.hdr-list .item + .item {
  margin-left: 30px;
}

/* .hdr-item {
  display: inline-block;
} */

.hdr-link,
.hdr-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--hdr-menu-color);
}

.hdr-tel {
  margin-left: 254px;
  margin-right: 40px;
}

.hdr-link:hover,
.hdr-link:focus,
.hdr-tel:hover,
.hdr-tel:focus,
.hdr-btn:hover,
.hdr-btn:focus,
.contacts-link:hover,
.contacts-link:focus,
.contacts-link-tel:hover,
.contacts-link-tel:focus,
.contacts-link-mail:hover,
.contacts-link-mail:focus {
  color: var(--extreme-color);
}

.btn {
  padding: 12px 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--extreme-color);
  border-radius: 25px;
  color: var(--hdr-menu-color);
}

/* -----------------all-text------------- */

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--h-color);
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--h-color);
}

.text {
}

/* ---------------HERO section ------------------ */

.hero {
}

.hero-container {
  background-image: url(../images/hero.jpg);
}

.hero-box {
  padding: 272px 100px 144px;
}
.hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-size: 72px;
  line-height: 1.18;
  margin-bottom: 20px;

  color: var(--hero-h-color);
}
.hero-text {
  color: var(--services-color);
}

.hero-list {
  display: flex;
  margin-left: 906px;
  padding-bottom: 49px;
}
.hero-item:first-child {
  margin-right: 24px;
}
.hero-btn,
.hero-soc-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid #fff;

  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
}
.hero-soc-btn {
  background-color: #fff;
}
.back {
  padding-left: 0;
}
.forvard {
  padding-right: 0;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--hero-h-color);
}

.hero-soc-list {
  background-color: var(--back-first-color);
  display: flex;
}
.hero-soc-item:first-child {
  margin-right: 40px;
}
.hero-soc-item {
}
.hero-soc-btn {
  letter-spacing: 0.2em;

  color: var(--h-color);
}
.hero-soc-btn:hover,
.hero-soc-btn:focus {
  color: var(--extreme-color);
}

/* -------------------ABOUT section--------------- */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.about-container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 30px;
}
.about-item {
}

.about-box {
  padding-right: 100px;
}
.about-item:first-child {
  margin-right: 30px;
}
.about-uptitle {
  margin-bottom: 20px;
}
.about-title {
  margin-bottom: 20px;
}
.about-suptitle {
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 42px;

  color: var(--text-color);
}
.about-btn {
  color: var(--h-color);
}

/* ------------------SERVICES section------------- */

.services {
  width: 1600px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../images/prices.jpg);
}

.services-container {
}
.services-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.services-title {
  color: var(--hero-h-color);
  margin-bottom: 44px;
}
.services-list {
  display: flex;

  margin-bottom: 44px;
}

.services-item {
  width: 570px;
  /* height: 240px; */
  border: 1px solid black;
}

.services-item:first-child {
  margin-right: 30px;
}
.services-prices-list {
  padding: 30px 20px;
}

.services-prices-item {
  margin-bottom: 20px;
  justify-content: space-between;
  width: 528px;
  height: 30px;
  display: flex;
}
.services-prices-item:nth-child(n + 4) {
  margin-bottom: 0;
}
.services-prices-menu {
  color: var(--services-color);
}
.services-prices-price {
  color: var(--services-color);
}
.services-btn {
  display: block;
  margin: 0 auto;
}

/* ------------------------TRADITION section-------------- */

.tradition {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

.tradition-comtainer {
  display: flex;
}

.traditional-box {
  margin-right: 130px;
}

.traditional-list {
  display: flex;
  flex-direction: column;
}
.traditional-item {
  height: 133px;
  width: 170px;
  padding: 20px 24px;
  border: 1px solid black;
  text-align: center;
}
.traditional-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: var(--h-color);
}
.traditional-plus {
}
.plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;

  color: var(--extreme-color);
}
.traditional-number-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--h-color);
}
.traditional-uptitle {
  margin-bottom: 20px;
}
.traditional-title {
  margin-bottom: 20px;
}
.traditional-suptitle {
}

/* -------------------BARBERS section------------- */

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: antiquewhite;
}
.barbers-uptitle {
}
.barbers-title {
}
.barbers-list {
}
.barbers-item {
}
.barbers-name {
  line-height: 1.39;

  color: var(--h-color);
}
.barbers-text {
  font-size: 14px;
  line-height: 1.36;

  color: var(--extreme-color);
}
.barbers-soc-list {
}
.barbers-soc-item {
}

/* ------------------------WORKS section--------------- */

.works {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: aqua;
}
.works-uptitle {
}
.works-list {
}
.work-item {
}

/* -----------------FOOTER section------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;

  background-image: url(../images/contact.jpg);
}
.contacts-title {
  color: var(--hdr-menu-color);
  margin-bottom: 40px;
}

.ftr-address {
  font-style: normal;
}

.contacts-list {
}

.contacts-list .item + .item {
  margin-top: 20px;
}

.contacts-link {
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--services-color);
}
.contacts-link-tel {
  margin-bottom: 20px;
  color: var(--services-color);
}

.contacts-link-mail {
  margin-bottom: 70px;
  text-decoration-line: underline;
  color: var(--services-color);
}
.contacts-item {
}

.contacts-suptitle {
  margin-top: 70px;
  color: var(--hdr-menu-color);
}
.contacts-text {
  margin-top: 20px;
  color: var(--services-color);
}

---------------FOOTER--------------- .ftr {
}

.copyrite {
  margin-right: 800px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  color: var(--services-color);
}

.ftr-container {
  display: flex;
  align-items: center;
}

.ftr-soc-list {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
}

.ftr-soc-item:first-child {
  margin-right: 40px;
}

.list {
}

.ftr-soc-item {
}
.ftr-btn {
  background-color: var(--hdr-menu-color);
}
